div#page-wrapper, body, .container-fluid{
  background-image: url('images/9.png');
	background-position: center center;
  background-attachment: fixed;
	background-repeat: repeat;
}

.navbar-default{
	color: #fff;
	background-color: #339933;
}

.navbar{
	margin-bottom: 0;  
	border-color: #ddd;
}

.navbar-header > .navbar-brand,
.navbar-header > .navbar-brand:hover{
	color: #fff;
}

.dropdown > a{
	color: #fff;
}

.nav{
	padding-left: 10%;
}

ul.nav > li.dropdown > a.dropdown-toggle{
	color: #fff;
}

ul.nav > li.dropdown > a.dropdown-toggle:hover,
ul.nav > li.dropdown > a.dropdown-toggle:focus{
	color: #3c763d;
}

ul.nav > li.dropdown > a{
	color: #fff;
}

ul.nav > li.dropdown > a:hover,
ul.nav > li.dropdown > a:focus{
	color: #3c763d;
}

.pull-right{
	margin-top: -5px;
}

.page-header{
  color: #3c763d;
}

.panel4{
	height: 100%;
	width: 80%;
	position: center;
	margin: 0px;
	margin-left: 10%;
	padding: 0px;
}

#page-wrapper{
	margin-left: 12%;
	margin-right: 12%;
}

.panel-yellow {
  border-color: #d6e9c6;
}
.panel-yellow > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

h4 {	
  color: #3c763d;
  font-size: 1.5em;
  padding-bottom: 3px;
}

a, .font, .panel-yellow a {
    color: #3c763d;
}

a:hover, .panel-yellow a:hover {
    color: #2b552c;
    text-decoration: none;
}

.btn-warning {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #3c763d;
  border-color: #3c763d;
}

th, .align{
	text-align: center;
}

.table{
  z-index: 1;
}

.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 3%;
}


/************************************************************************ HEADER */
.time {
  padding-top: 3.5%;
}

#cssmenu {
  color: #fff;
  background: #339933;
  background: -moz-linear-gradient(top, #53c653 0%, #267326 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #267326));
  background: -webkit-linear-gradient(top, #53c653 0%, #267326 100%);
  background: -o-linear-gradient(top, #53c653 0%, #267326 100%);
  background: -ms-linear-gradient(top, #53c653 0%, #267326 100%);
  background: linear-gradient(to bottom, #53c653 0%, #267326 100%);
}

#cssmenu > ul > li > a {
  color: #ecf9ec;
}